.wrapper {
	width: 1280px;
	margin: 0 auto;
	border: 1px solid #eee;
	border-radius: 5px;
	display: flex;
	padding: 50px;

}
.display {
	width: 600px;
	margin-left: 40px;
}
.palette {
	border-collapse: collapse;
	border-radius: 10px;
}

.card {
	border:  1px solid #999;
	border-radius: 5px;
	padding: 25px 15px;
	margin:  10px;
	text-align: center;
}
[data-suit="d"] {
	color: green;
}
[data-suit="s"] {
	color: black;
}
[data-suit="c"] {
	color: blue;
}
[data-suit="h"] {
	color: red;
}
.selected {
	color: #aaa;
}
.hl-cards {
	padding: 5px;
	color: #000;
}
.hl-cards.selected {
	animation: blinkAnime .2s infinite alternate;
}
@keyframes blinkAnime{
   0% { background-color: #fff; }
 100% { background-color: #ccf; }
}
.mc-wrapper,
.bc-wrapper {
	display:  flex;
}
.card-l.mc,
.card-l.bc {
	border: solid 2px #666;
	width: 80px;
	height: 110px;
	text-align: center;
	margin: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
}

.result-table,
.prob-line {
	border-collapse: collapse;
	border: 1px solid #333;
	margin: auto;
}
.prob-line > td {
	padding: 10px;
	text-align: right;
}
.result tr {
	height: 30px;
}
.res {
	text-align: center;
	border: none;
	font-size: 20px;
	font-weight: bold;
	width: 60px;
}